# Python cache
__pycache__/
*.pyc

# Ambiente virtuale
venv/

# Cache di modelli e librerie
.cache/
*.log

# Dati generati
metrics/
output_files/
agent_logs/
times/
logs/


# File temporanei o IDE
.DS_Store
*.swp
.idea/
.vscode/

detector/bertfakenews1_.pt
file/true1.csv
